// CREATES RESPONSIVE CLASSES FOR CONTAINER

.container {
  width: 100%;

  @each $breakpoint, $width in $breakpoints {
    @media screen and (min-width: #{$width}) {
      max-width: $width;
    }
  }

  @each $breakpoint, $width in $breakpoints {
    @include responsive($breakpoint, $width) {
      max-width: $width;
    }
  }
}
