// CREATES CLASSES AND RESPONSIVE CLASSES FOR DISPLAY
@import '../../functions';

@include options($display) using ($value) {
  display: $value;
}

// GRID COLUMNS

$grid-columns: populategrid($grid-columns-length);

.grid-columns {
  @include options($grid-columns) using ($value) {
    grid-template-columns: $value;
  }
}

// GRID SPAN

$grid-span: populategridspan($grid-columns-length);

.grid-span {
  @include options($grid-span) using ($value) {
    grid-column: $value;
  }
}

// GRID GAP

$grid-gap: populategap($grid-gap-max);

.grid-gap {
  @include options($grid-gap) using ($value) {
    gap: $value;
  }
}

// FLEX ITEMS AND DIRECTIONS

.flex {
  @include options($flex-items) using ($value) {
    flex: $value;
  }

  @include options($flex-directions) using ($value) {
    flex-direction: $value;
  }
}
