// CREATES CLASSES AND RESPONSIVE CLASSES FOR POSITION
@import '../../functions';

@include options($positions) using ($value) {
  position: $value;
}

// PLACEMENT

$position-placements: populateplacementmap();
$position-placements-negative: populateplacementmap(true);

.top-n {
  @include options($position-placements-negative) using ($value) {
    top: $value;
  }
}

.top {
  @include options($position-placements) using ($value) {
    top: $value;
  }
}

.bottom-n {
  @include options($position-placements-negative) using ($value) {
    bottom: $value;
  }
}

.bottom {
  @include options($position-placements) using ($value) {
    bottom: $value;
  }
}

.left-n {
  @include options($position-placements-negative) using ($value) {
    left: $value;
  }
}

.left {
  @include options($position-placements) using ($value) {
    left: $value;
  }
}

.right-n {
  @include options($position-placements-negative) using ($value) {
    right: $value;
  }
}

.right {
  @include options($position-placements) using ($value) {
    right: $value;
  }
}

.placement-x-n {
  @include options($position-placements-negative) using ($value) {
    left: $value;
    right: $value;
  }
}

.placement-x {
  @include options($position-placements) using ($value) {
    left: $value;
    right: $value;
  }
}

.placement-y-n {
  @include options($position-placements-negative) using ($value) {
    bottom: $value;
    top: $value;
  }
}

.placement-y {
  @include options($position-placements) using ($value) {
    bottom: $value;
    top: $value;
  }
}
