// CREATE CLASSES FOR SPACING

@function populatespacingmap($spacingmap: (), $is-negative: false) {
  $initial: if($is-negative, 1, 0);
  $prefix: if($is-negative, 'n', '');
  $multiplier: if($is-negative, $spacing-n-multiplier, $spacing-multiplier);

  @for $size from $initial through $spacing-max {
    $spacingmap: map.merge($spacingmap, ($prefix + $size: $size * $multiplier));
  }

  @return $spacingmap;
}

// CREATE CLASSES FOR GRID COLUMNS

@function populategrid($max) {
  $grid: ();

  @for $size from 1 through $max {
    $grid: map.merge($grid, ($size: repeat($size, minmax(0, 1fr))));
  }

  @return $grid;
}

@function populategap($max) {
  $gap: ();

  @for $size from 1 through $max {
    $gap: map.merge($gap, ($size: #{$size}px));
  }

  @return $gap;
}

@function populategridspan($max) {
  $span: ();

  @for $size from 1 through $max {
    $span: map.merge($span, ($size: span #{$size} / span #{$size}));
  }

  @return $span;
}

// CREATE MAP FOR PLACEMENTS

@function populateplacementmap() {
  $placements: ();

  @each $name, $multiplier in $placement-multipliers {
    $placements: map.merge($placements, ($name: $placement-initial * $multiplier));
  }

  @return $placements;
}
