// CREATE RESPONSIVE CLASSES

@mixin responsive($breakpoint, $value) {
  @at-root {
    @each $selector in & {
      $selector: list.nth($selector, 1);
      $selector: string.slice($selector, 2);
      $selector: '.#{$breakpoint}#{$breakpoint-separator}#{$selector}';

      #{$selector} {
        @media screen and (min-width: #{$value}) {
          @content;
        }
      }
    }
  }
}

// CREATE OPTIONS FOR CLASSES

@mixin options($classes) {
  @each $key, $value in $classes {
    @if & {
      &#{$option-separator}#{$key} {
        @content($value);
      }
    }

    @else {
      .#{$key} {
        @content($value);
      }
    }
  }

  @each $breakpoint, $width in $breakpoints {
    @each $key, $value in $classes {
      @if & {
        &#{$option-separator}#{$key} {
          @include responsive($breakpoint, $width) {
            @content($value);
          }
        }
      }

      @else {
        .#{$key} {
          @include responsive($breakpoint, $width) {
            @content($value);
          }
        }
      }
    }
  }
}
