@use 'sass:map';
@use 'sass:list';
@use 'sass:string';

html {
  box-sizing: border-box;
  font-family: $font;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

a,
input,
button {
  outline: 0;
}

// LAYOUT
@import './classes/layout/display';
@import './classes/layout/position';
@import './classes/layout/container';

// HELPERS
@import './classes/helpers/spacing';
@import './classes/helpers/alignment';
@import './classes/helpers/typography';

// SIZING
@import './classes/sizing/width';
@import './classes/sizing/height';
