@use 'sass:map';
@use 'sass:list';
@use 'sass:string';

html {
  box-sizing: border-box;
  font-family: $font;
  font-size: 16px;
}

html,
body {
  height: 100%;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

a,
input,
button {
  outline: 0;
}

body {
  background-color: $background-color;
  color: #1f2833;
}

// LAYOUT
@import './classes/layout/display';
@import './classes/layout/position';
@import './classes/layout/container';
@import './classes/layout/floats';

// HELPERS
@import './classes/helpers/background';
@import './classes/helpers/spacing';
@import './classes/helpers/alignment';
@import './classes/helpers/typography';

// SIZING
@import './classes/sizing/width';
@import './classes/sizing/height';
