// COLORS

$important-color: #1f2833;
$normal-color: #9fabbc;

// TYPOGRAPHY

$font: 'Raleway', helvetica, sans-serif;

// TEXT ALIGNMENT

$text-alignment: (
  'left': left,
  'right': right,
  'center': center,
  'justify': justify,
);

// FONT WEIGHT

$font-weight: (
  'medium': 500,
  'semibold': 600,
  'bold': 700,
  'extrabold': 800,
);

// FONT SIZE

$font-size: (
  'xs': 0.75rem,
  'sm': 0.875rem,
  'lg': 1.125rem,
  'xl': 1.25rem,
  '2xl': 1.5rem,
  '3xl': 1.875rem,
  '4xl': 2.25rem,
  '5xl': 3rem,
);

// LINE HEIGHT

$line-height: (
  'xs': 0.5rem,
  'sm': 0.75rem,
  'lg': 1.125rem,
  'xl': 1.25rem,
  '2xl': 1.5rem,
  '3xl': 1.75rem,
  '4xl': 2.25rem,
  '5xl': 3rem,
);
